<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <br><br>
    <div class="row center">
      <h1>Digital MarketPlace</h1>
      <h5d>sell and buy digital contents</h5>
    </div>
    <div class="row center">
      <%= link_to "Show Contents", contents_path, class: "btn red btn-large" %>
    </div>
    <br><br>
  </div>
  <div class="parallax"> <%= image_tag("digitalhome.png") %> </div>
</div>