<div class="center">
  <div class="row">
    <h2 class="home-subtitles"> Online Shop Digital Contents</h2>
    <div class="col s12 m4">
      <i class="material-icons medium">library_books</i>
      <h5 class="center">Show contents</h5>
      <p class="light">Naviga per vedere i contenuti</p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium">motorcycle</i>
      <h5 class="center">Buy speedly</h5>
      <p class="light">Acquista il prodotto che ti interessa</p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium">library_add</i>
      <h5 class="center">Sell you contets Now</h5>
      <p class="light">Diventa un Venditore</p>
    </div>
  </div>
</div>
