@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1{
  font-size: 3em;
}

main {
  flex: 1 0 auto;
}

.btn-devise {
  width: 100%;
}

.show-title {
  margin-top: 0;
  font-size: 3.4em;
}

.sho-img {
  padding-right: 7%;
}

.show-price {
  font-size: 2em;
}

.btn-form {
  width: 100%;
}