@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.brand-logo{
  margin-left: 20px;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

main {
  flex: 1 0 auto;
}

.home-subtitles {
  margin: 5% 0 5% 0;
}

.btn-devise {
  width: 100%;
}

.show-title {
  margin-top: 0;
  font-size: 3.4em;
}

.sho-img {
  padding-right: 7%;
}

.show-price {
  font-size: 2em;
}

.btn-form {
  width: 100%;
}

.card {
  height: 400px;
}

.card-image {
  height: 50%;
}

